.__kui-slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 10px;
  /* Specified height */
  --background: var(--color-primary-800);
  /* Grey background */
  outline: none;
  /* Remove outline */
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
  border-radius: 15px;
}

.__kui-slider::-webkit-slider-runnable-track {
  appearance: none;
  outline: 0;
  border: 0px;
  background: var(--background);
  height: 10px;
  border-radius: 15px;
}

.__kui-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: var(--color-accent-500);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  transform: translateY(-8px);
  border: 2px solid var(--color-accent-600);
}

.__kui-slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: var(--color-accent-500);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  transform: translateY(-8px);
}